@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family:'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.divider {
  border-top: 5px solid red;
  margin: 10px 0;
}
.col-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; 
  font-family:'Poppins', sans-serif;
}
.form-label {
  display: inline-block;
  text-align: left;
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}

.form-input {
  width: 300px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.test{
  margin-bottom: -20px;
}



